a{
    text-decoration: none;
}

main{
    width: 90%;
    height: 100%;
    margin: 0 auto;
}

.homeContainer{
    width: 80%;
    height: auto;
    margin: 0 auto;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
}

.ContainerMain{
    width: 100%;
    height: 100%;
    margin: 15vh auto 0 auto;
}

.ContainerMain h2{
    font-weight: 700;
    font-size: 36px;
    color: palevioletred;
    margin: 1vh auto;
}

.ContainerMain h4{
    font-weight: 500;
    font-size: 24px;
}


.homeContent{
    width: 90%;
    height: auto;
    margin: 4vh auto 0px auto;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.homeContent h1,h2,h3,h4,h5,h6 {
    margin-block-start: 0;
    margin-block-end: 0;
}

.homeDisplays{
    width: 100%;
    height: auto;
    display: block;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin: 0 auto 2vh auto;
}

.homeMainGrid{
    display: flex;
    /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr; */
    grid-gap: 2vw;
    margin: 0 auto;
    justify-content: center;
    align-content: center;
}

.homeGrid{
    width: 40%;
    height: auto;
    margin: 2vh auto;
    display: grid;
    grid-template-columns: repeat(3, minmax(70px, 140px));
    grid-gap: 2vw;
}

.homeGrid div{
    margin: 0 auto;
    padding: 0;
    justify-content: center;
    align-items: center;
    align-self: center;
    width: min-content;
    height: fit-content;
}
/* 
.homeMainContent{

} */